@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
/* start Navbr */
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 90%;
}
.navbar h2{
    font-size: 28px;
    font-weight: 800;
}
.navbar button{
    padding: 17px 24px;
    border-radius: 8px;
    background-color: white;
}
/* End Navbar */

/* Start Main-Section */

/* Start Future Developer-Section */
.future-developer{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}
.future-developer-flex{
    width: 1000px;
    text-align: center;
}
.future-developer-flex img{
    height: 240px;
    width: 240px;
    margin: auto;
    display: flex;
}
.future-developer-flex h1{
    margin: 32px 0 24px 0;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
}
.future-developer-flex p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 32px;
    opacity: .7;
}
.future-developer-flex button{
    padding: 21px 24px;
    color: white;
    background-color: #0D1321;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
}
/* End Future Developer-Section */

/* Start Web-Development-Section */
.web-development{
    background-color: #FAFAFB;
    border-radius: 16PX;
    width: 1140px;
    margin: 0 auto;
    padding: 80px 0;
}
.web-development-header{
    text-align: center;
    padding: 0 48px;
}
.web-development-header h2{
    font-size: 32px;
    font-weight: 800;
}
.web-development-header p{
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0 48px 0;
    opacity: .7;
}
.web-development-parts{
    display: flex;
    padding: 48px;
    justify-content: space-between;
    background: linear-gradient(to right, #FAFAFB, #FFFFFF);
    border-radius: 16px;
    margin: 0 100px 32px 100px;
}
.web-development-parts img{
    height: 240px;
    width: 275px;
}
.web-development-description h2{
    font-size: 24px;
    font-weight: bold;
    line-height: 36px;
    opacity: .7;
}
.web-development-description p{
    margin: 16px 0 32px 0;
    line-height: 26px;
    opacity: .7;
}
.web-development-description{
    max-width: 480px;
}
.web-development-middle-parts{
    display: flex;
    padding: 48px; 
    background: linear-gradient(to left, #FAFAFB, #FFFFFF);
    gap: 32px;
    border-radius: 16px;
    margin: 0 100px 32px 100px;
}
.web-development-description button{
    font-size: 20px;
    font-weight: 600;
    padding: 12px 20px;
    background-color: #FAFAFB;
    opacity: .7;
}
/* End Web-Development-Section */

/* Start My Inspiration-Section */
.inspiration-ssection{
    text-align: center;
    margin: 50px auto;
    max-width: 100%;
}
.inspiration-ssection h2{
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}
.inspiration-ssection p{
    line-height: 26px;
    opacity: 0.7;
    margin: 0 3% 48px 3%;
}
.add-video{
    border: 1px solid rgb(38, 37, 37);
    padding: 32px;
    border-radius: 16px;
}
/* End My Inspiration-Section with common description section */
/* Start target section with some common class work*/
.categorys{
    display: flex;
    gap: 24px;
    margin-bottom: 110px;
}
.languages{
    padding: 40px;
    border-radius: 16px;
    margin: 0 15px 15px 15px;
}
.languages h4{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin: 24px 0 7px 0;
}
.languages p{
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}
.languages a{
    color: #0D1321;
    font-weight: bold;
}
.html{
    background-color: #FFF6F4;
}
.css{
    background-color:#F2F6FE;
}
.js{
    background-color: #FFFDF2;
}
.next-target-section{
    max-width: 1140px;
    margin: 0 auto;
}
.next-target-design-language{
    display: flex;
    gap: 24px;
    border: 2px solid rgb(208, 205, 205);
    padding: 40px;
    margin-bottom: 24px;
    border-radius: 16px;
    max-width: 100%;
}
.next-target-design-language-part h3{
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
}
.next-target-design-language-part p{
    line-height: 26px;
    opacity: 0.7;
    margin-bottom: 24px;
}
.next-target-design-language-part a{
    color: #0D1321;
    font-weight: bold;
}
.next-target-design-language-part{
    max-width: 100%;
}





@media (max-width: 1300px) {
    .web-development{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .next-target-section{
        margin: 0 15px;
    }
  }
  @media (max-width: 800px) {
    .web-development-parts, .web-development-middle-parts, .categorys{
        display: block;
        max-width: 100%;
        margin: 0;
    }
    .web-development-description{
        padding-bottom: 20px;
    }
    .add-video iframe{
        height: 100%;
    }
    .add-video{
        padding: 2%;
        margin: 3%;
    }
  }